pkgbase = positron-ide-devel-bin
	pkgdesc = A next-generation data science IDE. Positron is an extensible, polyglot tool for writing code and exploring data in Python, R, and other languages.
	pkgver = 2025.01.0.159
	pkgrel = 1
	url = https://github.com/posit-dev/positron
	arch = x86_64
	license = Elastic-2.0
	depends = ca-certificates
	depends = alsa-lib
	depends = at-spi2-core
	depends = atkmm
	depends = libcups
	depends = curl
	depends = mesa
	depends = krb5
	depends = gtk4
	depends = nss
	depends = pango
	depends = libxcomposite
	depends = libxdamage
	depends = libxrandr
	depends = xdg-utils
	optdepends = vulkan-intel: Intel Vulkan driver
	optdepends = vulkan-radeon: Radeon Vulkan driver
	optdepends = vulkan-icd-loader: Vulkan ICD loader
	provides = positron
	conflicts = positron-bin
	options = !debug
	source_x86_64 = https://github.com/posit-dev/positron/releases/download/2025.01.0-159/Positron-2025.01.0-159.deb
	sha256sums_x86_64 = 627d3b6449357ea33aa44db7013e4f7a9ad32b530eeaebdb9b19da733b6c635e

pkgname = positron-ide-devel-bin
