pkgbase = positron-ide-devel-bin
	pkgdesc = A next-generation data science IDE. Positron is an extensible, polyglot tool for writing code and exploring data in Python, R, and other languages.
	pkgver = 2024.09.0.77
	pkgrel = 1
	url = https://github.com/posit-dev/positron
	arch = x86_64
	license = Elastic-2.0
	depends = ca-certificates
	depends = alsa-lib
	depends = at-spi2-core
	depends = atkmm
	depends = libcups
	depends = curl
	depends = mesa
	depends = krb5
	depends = gtk4
	depends = nss
	depends = pango
	depends = libxcomposite
	depends = libxdamage
	depends = libxrandr
	depends = xdg-utils
	optdepends = vulkan-intel: Intel Vulkan driver
	optdepends = vulkan-radeon: Radeon Vulkan driver
	optdepends = vulkan-icd-loader: Vulkan ICD loader
	provides = positron
	conflicts = positron-bin
	options = !debug
	source_x86_64 = https://github.com/posit-dev/positron/releases/download/2024.09.0-77/Positron-2024.09.0-77.deb
	sha256sums_x86_64 = 01e982fd597f7f35abe95d07b21341b4cc99bb23bdd7a572b5fa349337e4d47b

pkgname = positron-ide-devel-bin
