pkgbase = positron-ide-devel-bin
	pkgdesc = A next-generation data science IDE. Positron is an extensible, polyglot tool for writing code and exploring data in Python, R, and other languages.
	pkgver = 2024.07.0.49
	pkgrel = 1
	url = https://github.com/posit-dev/positron
	arch = x86_64
	depends = ca-certificates
	depends = alsa-lib
	depends = at-spi2-core
	depends = atkmm
	depends = libcups
	depends = curl
	depends = mesa
	depends = krb5
	depends = gtk4
	depends = nss
	depends = pango
	depends = libxcomposite
	depends = libxdamage
	depends = libxrandr
	depends = xdg-utils
	optdepends = vulkan-intel: Intel Vulkan driver
	optdepends = vulkan-radeon: Radeon Vulkan driver
	optdepends = vulkan-icd-loader: Vulkan ICD loader
	provides = positron-positron
	conflicts = positron-positron
	options = !debug
	source_x86_64 = https://github.com/posit-dev/positron/releases/download/2024.07.0-49/Positron-2024.07.0-49.deb
	sha256sums_x86_64 = 189f8b4d42996f5a1d0f3e89784a888f5b3b562945809bd9b0adf9b4e5e827da

pkgname = positron-ide-devel-bin
